/* Grundlayout */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #b7e3ff;
}

#container {
  height: 100vh;
  width: 100vw;
}

/* Spielfläche */
#play-area {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b7e3ff; /* hier kannst du noch ein Raum-Bild einfügen */
  position: relative;
  overflow: hidden;
}

/* Ei */
#egg {
  width: 1000px;
  cursor: pointer;
  z-index: 2;
  bottom: 20%;
  transition: transform 0.3s ease;
}

#egg:hover {
  transform: scale(1.1);
}

/* Animation: Ei wackelt/pulsiert */
@keyframes shake {
  0%   { transform: rotate(0deg) scale(1); }
  25%  { transform: rotate(5deg) scale(1.05); }
  50%  { transform: rotate(-5deg) scale(1.1); }
  75%  { transform: rotate(5deg) scale(1.05); }
  100% { transform: rotate(0deg) scale(1); }
}

.egg-hatching {
  animation: shake 1.2s ease-in-out forwards;
}

#pet {
  position: absolute;
  left: 50%;
  bottom: 23%;
  transform: translateX(-50%);
  width: min(70vw, 700px);
  z-index: 3;
  display: none;

  display: flex;
  justify-content: center;
}
#pet img {
  width: 100%;
  height: auto;
  display: block;
}

